<p>
  <b>Fecha:</b>
  <%=h @asignado.fecha %>
</p>

<p>
  <b>Persona:</b>
  <%=h @asignado.persona_id %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @asignado.persona.nombre_apellido %>
</p>

<p>
  <b>Coordinación:</b>
  <%=h @asignado.persona.carea.cgeneral.nombre %><br />
  <b>Área:</b>
  <%=h @asignado.persona.carea.nombre %>
</p>

<%= link_to 'Back', asignados_path %>
<script></script>

===================================================================================================================

<h3>Activos Asignados</h3>

<% form_remote_for @linea_asignado, :url => {:controller => :lineas_asignados, :action => :create },
				    :complete => 'document.forms[0].reset();document.getElementById("lineas_asignado_existencia_id").value="";',
				    :update => 'lineas_asignados',
                                    :html => {"name" => "form_asignado"} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :existencia_id %><br />
    <%= text_field_tag "activo_id", nil, :disabled => "disabled" %><br />
    <%= text_field_tag "descripcion", nil, :disabled => "disabled" %>
    <%= f.hidden_field :existencia_id %> <%= link_to "Producto", options = {:action  => "buscador_activos_asg", :controller => "activos", :id => "all"} , html_options = {"title" => "Ejemplo", "onclick" => "this.blur(); Modalbox.show(this.href, {title: 'Welcome to ModalBox demo', width: 600}); return false;"} %>  <br />
  </p>
  <p>
    <%= f.hidden_field :asignado_id %>
  </p>

  <p>
  <table>
    <tr>
      <td>
        <%= f.submit 'Create' %>
        <% end %>
      </td>
      <td>
        <%= button_to 'Procesar', :action => 'procesar', :id => @asignado.id %>
      </td>
    </tr>
  </table>
  </p>


<div id='lineas_asignados'>
  <%= render(:partial => "linea_asignado")%>
</div>