<h1>Editing umedida</h1>

<% form_for(@umedida) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @umedida %> |
<%= link_to 'Back', umedidas_path %>