<h1>Listing activos</h1>

<table>
  <tr>
    <th>Descripcion</th>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Es equipo</th>
  </tr>

<% @activos.each do |activo| %>
  <tr>
    <td><%=h activo.descripcion %></td>
    <td><%=h activo.marca.descripcion %></td>
    <td><%=h activo.modelo %></td>
    <td>
    	<center><% if activo.es_equipo == true %>
			<%=h image_tag("activos/bulb_green.png") %>
		<% else %>
  			<%=h image_tag("activos/bulb.png") %>
		<% end %></center>
	</td>
    <td><%= link_to 'Show', activo %></td>
    <td><%= link_to 'Edit', edit_activo_path(activo) %></td>
    <td><%= link_to 'Destroy', activo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New activo', new_activo_path %>