<h1>New activo</h1>
<% form_for(@activo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.label :modelo %><br />
    <%= f.text_field :modelo %>
  </p>
  <p>
    <%= f.label :es_equipo %><br />
    <%= f.check_box :es_equipo %>
  </p>
  <p>
  	<%= f.label :marca_id %><br />
	<%= collection_select (:activo, :marca_id, @marcas, :id, :descripcion) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', activos_path %>
