<h1>Listing existencias</h1>

<table>
  <tr>
    <th>Activo</th>
    <th>Factura</th>
    <th>Cantidad</th>
    <th>Saldo</th>
    <th>Serial</th>
    <% if current_page?(:action => 'show') %>
      <th>Activo</th>
    <% end %>
  </tr>

<% @existencias.each do |existencia| %>
  <tr>
    <td><%=h existencia.activo.descripcion %></td>
    <td><%=h existencia.factura_id %></td>
    <td><%=h existencia.cantidad %></td>
    <td><%=h existencia.saldo %></td>
    <td><%=h existencia.serial %></td>
    <% if current_page?(:action => 'show') %>
      <td><%=h existencia.esta_activo %></td>
    <% end %>
    <td><%=h link_to_remote 'Borrar', :update => 'lineas_existencias', :url => existencia_url(:id => existencia.id), :method => :delete, :confirm => "¿Esta seguro?" %></td>
  </tr>
<% end %>
</table>