<h1>New factura</h1>

<% form_for(@factura) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fecha %><br />
    <%= f.datetime_select :fecha %>
  </p>
  <p>
    <%= f.label :proveedor_id %><br />
    <%= collection_select(:factura, :proveedor_id, @proveedores, :id, :nombre) %>
  </p>
  <p>
    <%= f.label :factura %><br />
    <%= f.text_field :factura %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', facturas_path %>