<p>
  <b>Fecha:</b>
  <%=h @factura.fecha %>
</p>

<p>
  <b>Secuencia</b>
  <%=h @factura.id %>
</p>

<p>
  <b>Proveedor:</b>
  <%=h @factura.proveedor.nombre %>
</p>

<p>
  <b>Factura:</b>
  <%=h @factura.factura %>
</p>

<p>
  <b>Estado:</b>
  <% if (@factura.estado == 'anulado') %>
    <font color="red">Anulada</font>
  <%  elsif (@factura.estado == 'procesada') %>
    <font color="green">Procesada</font>
  <% else %>
    <font color="blue">En proceso</font>
  <%  end %>
</p>

<%= link_to 'Volver', facturas_path %>

<div id='lineas_existencias'>
  <%= render(:partial => "existencias/linea_existencia")%>
</div>