<p>
  <b>Persona:</b>
  <%=h @despacho.persona_id %>
</p>

<p>
  <b>Persona:</b>
  <%=h @despacho.persona.nombre_apellido %>
</p>

<p>
  <b>Fecha:</b>
  <%=h @despacho.fecha %>
</p>


<%= link_to 'Edit', edit_despacho_path(@despacho) %> |
<%= link_to 'Back', despachos_path %>