<h1>Listing asignados</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Fecha</th>
    <th>Persona</th>
    <th>Esta activo</th>
  </tr>

<% @asignados.each do |asignado| %>
  <tr>
    <td><%=h asignado.id %></td>
    <td><%=h asignado.fecha %></td>
    <td><%=h asignado.persona.nombre_apellido %></td>
    <td><%=h asignado.esta_activo %></td>
    <td><%= link_to 'Show', asignado %></td>
    <td><%= link_to("Editar", :controller => "lineas_asignados", :action => "new", :id => asignado.id) if asignado.esta_activo == false %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Nueva Asignación', new_asignado_path %>