<h1>New lineas_desasignado</h1>

<% form_for(@lineas_desasignado) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :desasignado_id %><br />
    <%= f.text_field :desasignado_id %>
  </p>
  <p>
    <%= f.label :existencia_id %><br />
    <%= f.text_field :existencia_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', lineas_desasignados_path %>