<h1>Editing motivo</h1>

<% form_for(@motivo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @motivo %> |
<%= link_to 'Back', motivos_path %>