<h1>Listing motivos</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% @motivos.each do |motivo| %>
  <tr>
    <td><%=h motivo.descripcion %></td>
    <td><%= link_to 'Show', motivo %></td>
    <td><%= link_to 'Edit', edit_motivo_path(motivo) %></td>
    <td><%= link_to 'Destroy', motivo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New motivo', new_motivo_path %>