<h1>New desasignado</h1>

<% form_for(@desasignado) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fecha %><br />
    <%= calendar_date_select_tag "desasignado[fecha]", Date.today("GREGORIAN").to_s+" 00:00", :time => true %>
  </p>
  <p>
    <%= f.label :asignado_id, "Asignación:" %><br />
    <%= text_field_tag :asignado_id, @desasignado.asignado_id, :disabled => true %>
    <%= f.hidden_field :asignado_id %>
  </p>
  <p>
    <%= f.label :motivo_id %><br />
    <%= collection_select(:desasignado, :motivo_id, @motivos, :id, :descripcion) %>
  </p>
  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', desasignados_path %>